.App {
  text-align: center;
}

.White-text {
  color: white;
}
.Red-text {
  color: red;
}

.Eerie-text {
  font-family: 'Creepster', cursive;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.Title-text {
  font-size: 70px;
  letter-spacing: 50px;
}

.Subtitle-text {
  font-size: 30px;
  letter-spacing: 20px;
}