.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.Margin-top-5 {
  margin-top: 5%;
}
.Margin-top-10 {
  margin-top: 10%;
}

.White-text {
  color: white;
}

.Red-text {
  color: red;
}

.Eerie-text {
  font-family: 'Creepster', cursive;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.Title-text {
  font-size: 10vh;
  letter-spacing: 50px;
  margin-top: 5%;
}

.Subtitle-text {
  font-size: 7vh;
  letter-spacing: 20px;
  margin-top: 1%;
}

.Normal-text {
  font-size: 5vh;
  letter-spacing: 8px;
}

.Table-In-Settings {
  width:50%!important;
  background-color: rgba(0, 0, 0, 0);
  --bs-table-color:#fff;
  --bs-table-bg:#212529;
  --bs-table-border-color:#4d5154;
  --bs-table-striped-bg:#2c3034;
  --bs-table-striped-color:#fff;
  --bs-table-active-bg:#373b3e;
  --bs-table-active-color:#fff;
  --bs-table-hover-bg:#323539;
  --bs-table-hover-color:#fff;
  color:var(--bs-table-color);
  border-color:var(--bs-table-border-color)
}

.Eerie-range {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 50%;
  height: 20px;
  background: #2e2e2e;
  outline: none;
  border: white solid 3px;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border-radius: 10px;
  margin-top: 10px;
}

.Eerie-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff0000;
  cursor: pointer;
}
